.tradeHistory {
  row-gap: 1.25rem;
}

.tradeHistory .row {
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr 1fr;
}

.tradeHistory .row > span {
  padding: 1.25rem 0.5rem;
}

.tradeHistory .header {
  background-color: #f9f9f9;
}

.tradeHistory .body {
  max-height: 80vh;
  margin-top: 0.25rem;
  row-gap: 0.25rem;
  overflow-y: auto;
}

.tradeHistory .body h2 {
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.tradeHistory .body > div {
  row-gap: 0.25rem;
}

@media (max-width: 640px) {
  .tradeHistory .row > span {
    padding: 0.75rem;
  }
}
