.tradeInfo table {
  width: 100%;
}

.tradeInfo table th {
  width: 20%;
  min-width: 8.5rem;
  background-color: #f9f9f9;
}

.tradeInfo table th,
.tradeInfo table td {
  padding: 1rem;
  border: 1px solid var(--border-color);
}
