.loading {
  row-gap: 1.25rem;
}

.loading .icon {
  font-size: 2.5rem;
  animation: rotateIcon 1s infinite linear;
}

.loading .text {
  font-size: 1.25rem;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
