* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 700;
}

small {
  font-size: var(--font-small-size);
}

body,
input,
textarea,
select,
button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  color: var(--font-color);
}

button:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
  html {
    font-size: var(--mobile-font-size);
  }
}
