.boxLayout {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--white-color);
}

.boxLayout .icon {
  font-size: 2rem;
}

.boxLayout .text {
  font-weight: 700;
}

.boxLayout .icon.rotate {
  animation: rotateIcon 1s infinite linear;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
