.listItems .header {
  display: flex;
  column-gap: var(--default-gap);
}

.listItems .body {
  margin-top: var(--default-gap);
  display: flex;
  flex-direction: column;
  row-gap: var(--small-gap);
}

.listItems .body .row {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.listItems .body .row .left {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.listItems .body .row .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.listItems .body .row .right .priceInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.25rem;
}

.listItems .body .row .right .priceInfoWrap strong {
  color: var(--primary-color);
}

.listItems .pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
