.tableHeader {
  display: grid;
  border-top: 1px solid var(--border-color);
  grid-template-columns: 0.5fr 1fr 1.5fr 0.75fr 0.5fr 0.5fr 0.35fr;
}

.tableHeader .cell button {
  width: 100%;
  padding: 1.5rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: 700;
  white-space: nowrap;
}

.tableHeader .cell button:hover {
  cursor: pointer;
}

.tableHeader .cell button span.asc,
.tableHeader .cell button span.desc {
  transition: transform 500ms ease;
}

.tableHeader .cell button span.asc {
  transform: rotate(-180deg) translateY(-2px);
}

.tableHeader .cell button span.desc {
  transform: rotate(0deg) translateY(-2px);
}
