.apartInfo h1 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.apartInfo table {
  width: 100%;
}

.apartInfo table th {
  width: 20%;
  min-width: 8.5rem;
  background-color: var(--table-header-color);
  text-align: left;
}

.apartInfo table th,
.apartInfo table td {
  padding: 1rem;
  border: 1px solid var(--border-color);
}
