.apartInfo h1 {
  font-size: 1.25rem;
}

.apartInfo table {
  width: 100%;
}

.apartInfo table th {
  width: 20%;
  min-width: 8.5rem;
  background-color: #f9f9f9;
}

.apartInfo table th,
.apartInfo table td {
  padding: 1rem;
  border: 1px solid var(--border-color);
}
