.tradeHistory {
  row-gap: 1.25rem;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr 1fr;

    .cell {
      padding: 1.25rem 0.5rem;
      text-align: center;
    }
  }

  .header {
    border: 1px solid var(--border-color);
    background-color: var(--table-header-color);
  }

  .body {
    max-height: 80vh;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    overflow-y: auto;

    .year {
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      background-color: var(--table-header-color);
      text-align: center;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;
    }
  }
}

@media (max-width: 640px) {
  .tradeHistory {
    .row {
      .cell {
        padding: 0.75rem;
      }
    }
  }
}
