.tradeHistory {
  row-gap: 1.25rem;
}

.tradeHistory .row {
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr 1fr;
}

.tradeHistory .row > span {
  padding: 1.25rem 0.5rem;
  text-align: center;
}

.tradeHistory .header {
  border: 1px solid var(--border-color);
  background-color: var(--table-header-color);
}

.tradeHistory .body {
  max-height: 80vh;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  overflow-y: auto;
}

.tradeHistory .body h2 {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--table-header-color);
  text-align: center;
}

.tradeHistory .body .wrap {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

@media (max-width: 640px) {
  .tradeHistory .row > span {
    padding: 0.75rem;
  }
}
