.searchForm .selectWrap {
}

.searchForm .selectWrap .cityNameSelectWrap {
}

.searchForm .selectWrap .regionCodeSelectWrap {
}

.searchForm .monthPickerWrap {
}

.searchForm .buttonWrap {
}

@media (max-width: 640px) {
  .searchForm {
    flex-direction: column;
  }

  .searchForm .selectWrap .cityNameSelectWrap,
  .searchForm .selectWrap .regionCodeSelectWrap {
    flex: 1;
  }

  .searchForm .monthPickerWrap {
    width: 100%;
  }

  .searchForm .buttonWrap button {
    flex: 1;
  }
}
